.page_center {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
}
//确认按钮
.comfirm_btn{
		width: 180px;
		height: 42px;
		background-color: #ef3840;
		border-radius: 4px;
		color: #ffffff;
		margin-top: 40px;
		margin-left: 83px;
		&.active{
			border: solid 1px #ef3840;
			background-color: #ffffff;
			color: #ef3840;
		}
	}

//弹出框
.prompt {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 15px;
  border-radius: 5px;
  z-index: 5000;
  color: #fff;
  max-width: 85%;
  text-align: center;
  transition: all 0.6s;
  font-size: 16px;
}

//确认框/询问框
.alertMask {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .alertPopups {
    width: 420px;
    background-color: #fff;
    border: 1px solid #ebeef5;
    font-size: 18px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    animation: alertAnimation 0.4s;

    .title {
      padding: 15px;
      display: flex;
      justify-content: space-between;

      p {
        font-size: 18px;
        color: #303133;
      }

      span {
        width: 16px;
        height: 16px;
        cursor: pointer;
        stroke: #909399;
        fill: #909399;

        &:hover {
          stroke: #f00;
          fill: #f00;
        }
      }
    }

    .alertContent {
      padding: 10px 15px;
      color: #606266;
      font-size: 14px;
      display: flex;
      align-items: center;

      &.inputType {
        display: block;

        input {
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid #dcdfe6;
          box-sizing: border-box;
          color: #606266;
          display: inline-block;
          font-size: inherit;
          height: 40px;
          line-height: 40px;
          outline: none;
          padding: 0 15px;
          transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
          width: 100%;
          margin: 15px 0;

          &:focus {
            outline: none;
            border-color: #409eff;
          }
        }
      }

      svg {
        stroke: #e6a23c;
        fill: #e6a23c;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 10px;
      }

      p {
        color: #606266;
        font-size: 14px;
      }
    }

    .alertBut {
      padding: 5px 15px 10px;
      display: flex;
      justify-content: flex-end;

      button {
        padding: 9px 15px;
        font-size: 12px;
        border-radius: 3px;

        &:nth-child(1) {
          background: #fff;
          border: 1px solid #dcdfe6;
          color: #606266;

          &:hover {
            color: $themeColor;
            opacity: 0.8;
          }
        }

        &:last-child {
          background: $themeColor;
          border: 1px solid $themeColor;
          color: #fff;
          margin-left: 10px;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.breadcrumb_box {
  padding: 20px 0;
  display: flex;
  align-items: center;
  > div, > a {
    font-size: 12px;
    color: #333333;
  }
  a {
    cursor: pointer;
  }
  span {
    padding: 0 20px;
    color: #999999;
  }
  select {
    width: 100px;
    height: 28px;
    background-color: #f7f7f7;
    border-radius: 2px;
    border: solid 1px #e5e5e5;
    padding: 0 5px;
    font-size: 12px;
    color: #333333;
  }
}

.u-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.u-flex-m {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}