.form_input_item {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  width: 490px;
  label {
    width: 100px;
    flex-shrink: 0;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &.required::before {
      content: "*";
      color: #ef3840;
      font-size: 14px;
    }
  }
  .more {
    padding: 0 15px;
    font-size: 14px;
    color: #ef3840;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100px;
    height: 40px;
    line-height: 40px;
  }
  .unit {
    font-size: 14px;
    color: #333333;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    flex: none;
  }
  .form_input_inline {
    display: flex;
    justify-content: space-between;
    width: 490px;
    > .form_input_item {
      flex: 1;
    }
  }
  .input_textarea_info{
    flex: 1;
    height: 200px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    textarea{
      font-family: '微软雅黑';
      color: #333333;
      width: 389px;
      height: 200px;
      padding: 12px 20px;
      resize: none;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 14px;
    }
  }
  .input_info {
    flex: 1;
    height: 42px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    color: #333333;
    > .value {
      width: 180px;
      font-size: 14px;
      color: #333;
      padding: 0 15px;
      cursor: pointer;
    }
    > .select {
      font-size: 14px;
      color: #ccc;
      padding: 0 15px;
      cursor: pointer;
      flex: 1;
    }
    > input {
      flex: 1;
      width: 0;
      height: 40px;
      border: 0;
      padding: 0 15px;
      background-color: transparent;
    }

    > .line {
      width: 1px;
      height: 14px;
      background-color: #e5e5e5;
    }
    > button {
      font-size: 14px;
      color: #000000;
      height: 40px;
      background-color: #fff;
      border-radius: 4px;
      padding: 0 12px;
      flex-shrink: 0;
    }
    > .code {
      height: 40px;
      width: 100px;
      background-color: #cdcdcd;
      border-radius: 0 4px 4px 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  > div {
    flex: 1;
  }
  .view_info {
    flex: 1;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    span {
      font-size: 14px;
      color: #333333;
    }
  }
  .upload_info {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10 px;

    .upload_img {
      width: 100px;
      height: 100px;
      background-color: #f7f7f7;
      border-radius: 4px;
      margin-right: 16px;
      margin-bottom: 16px;
      overflow: hidden;
      position: relative;

      &:nth-child(3n) {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .delete {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 22px;
        height: 22px;
        background-image: url('https://qn.kemean.cn/upload/201908/05/df40b98b77fc4c42a5e0327c62975e29');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
      }

      &.upload {
        border: none;
        background-color: #f7f7f7;
        background-image: url("assets/ic_upload.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 60% 60%;
        cursor: pointer;
      }
    }
  }
  .to {
    font-size: 14px;
    color: #333333;
    padding: 0 10px;
  }
  .time_limit_box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .value {
      width: 180px;
      font-size: 14px;
      color: #333;
      height: 42px;
      line-height: 40px;
      background-color: #ffffff;
      border-radius: 4px;
      border: solid 1px #e5e5e5;
      padding: 0 15px;
      cursor: pointer;
    }
    
    .select {
      width: 180px;
      font-size: 14px;
      color: #ccc;
      height: 42px;
      line-height: 40px;
      background-color: #ffffff;
      border-radius: 4px;
      border: solid 1px #e5e5e5;
      padding: 0 15px;
      cursor: pointer;
    }
  }
  .select_info {
    flex: 1;
    height: 42px;
    display: flex;
    align-items: center;
    position: relative;
    select {
      min-width: 120px;
      height: 28px;
      padding: 0 5px;
      background-color: #f7f7f7;
      border-radius: 2px;
      border: solid 1px #e5e5e5;
    }
  }
  .textarea_info {
    flex: 1;
    height: 130px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    textarea{
      color: #333333;
      width: 389px;
      height: 200px;
      padding: 12px 12px;
      resize: none;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 14px;
    }
  }
}
.form_btn {
  margin-top: 30px;
  width: 490px;
  padding-left: 100px;
  button {
    width: 180px;
    height: 42px;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    background-color: #eee;
    &.active {
      background-color: #ef3840;
      color: #ffffff;
    }
  }
}